body{
    margin: 0;
    padding: 0;
}
#donate-banner{
    background-image: url(../images/donation1.jpg);
    background-repeat: no-repeat;
    background-position:center;
    background-size: cover;
}
.donate-text-area{
    padding-top: 100px;
    padding-bottom: 100px;
    color: white;
    text-align: center;
}
.headfirst-text{
font-size: 60px;
font-family: 'Open Sans', sans-serif;
font-weight: 400;
}
.donate-link{
    text-decoration: none;
    padding: 10px 30px;
    background-color: rgb(224, 47, 47);
    margin-top: 40px;
    color: white;
    font-size: 20px;
}
.banner-para{
    padding-bottom: 20px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
}
.container-taka{
    display: flex;
    justify-content: center;
}
h2{
    text-align: center;
}
.taka-item{
    height: 100px;
    width: 100px;
    background-color:rgba(165, 170, 169, 0.219);
    margin: 10px;
}
.taka-item2{
    height: 100px;
    width: 100px;
    background-color: rgba(241, 87, 87, 0.404);
    margin: 10px;
    border: 3px solid brown;
}
.taka-head-text{
    text-align: center;
    font-size: 60px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 500;
}
.taka-para-text{
    text-align: center;
    margin-top: -40px;
    padding-bottom: 40px;
    color: gray;
}
.input-text{
    text-align: center;
    width: 600px;
    border: none;
    border-bottom: 2px solid gray;
    font-size: 20px;

}
.input-div{
    text-align: center;
    padding-top: 30px;
}
.donate-link2{
    text-decoration: none;
    padding: 10px 30px;
    background-color: rgb(224, 47, 47);
    text-align: center;
    color: white;
    font-size: 20px; 
}
.donate-button{
    text-align: center;
    padding-top: 40px;
}
#donate-plan{
    padding-top: 40px;
    padding-bottom: 60px;
}
.donate-plan-container{
    text-align: center;
}
.donate-plan-head{
    font-size: 60px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 500;
}
.donate-plan-para{
    color: gray;
    margin-top: -40px;
}
.donate-plan-item-main{
    display: flex;
    justify-content:space-evenly;
    padding-top: 40px;
}
.food-item{
    background-color: rgba(130, 199, 199, 0.658);
    padding: 30px 30px;
    margin-left: 15px;
}
.shelter-item{
    background-color:rgba(241, 87, 87, 0.404) ;
    padding:30px 30px ;
    margin-left: 15px;
}
.education-item{
    background-color: rgba(245, 176, 151, 0.76);
    padding: 30px 30px;
    margin-left: 15px;
}
.child-main{
    display: flex;
    justify-content: space-between;
    padding-top: 40px;
}
.child-img img{
    width: 500px;
    height: 400px;
    margin: 20px 60px;
}
.child-text-main{
    padding-top: 40px;
    margin-left: 60px;
    margin-right: 60px;
}
.child-head-text{
    font-size: 60px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 500;
}
.child-link{
    text-decoration: none;
    padding: 10px 30px;
    background-color: rgb(224, 47, 47);
    text-align: center;
    color: white;
    font-size: 20px; 
}
.child-text-para{
    padding-bottom: 40px;
    text-align: justify;
}
.update-text{
    font-size: 60px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
}
.update-para{
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    padding-bottom: 20px;
}
.email-div{
    text-align: center;
    background-color:rgba(245, 176, 151, 0.76) ;
    padding: 60px 60px;
    margin: 0 300px;
}
input[type=email]{
    width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
}
.email-btn{
    background-color:rgb(224, 47, 47);
    border: none;
    color: white;
    padding: 0px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}
.email-form{
    display: flex;
    justify-content: center;
}
#email{
    padding-bottom: 60px;
}
.update{
    text-align: center;
}
#end-part{
    background-color: black;
    padding-top: 40px;
    padding-bottom: 40px;
}
.end-head{
    color: brown;
    font-size: 30px;
    font-family: 'Gentium Book Plus', serif;
    font-weight: 400;
    font-style: italic;
}
.end-para{
    color: white;
}
.end-div{
    text-align: center;
}